body {
	background-color: #FAFAFA;
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
	Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
	sans-serif;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
	width: 100vw;
	height: 150px;
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
	overflow-y: hidden;
}
.cursor_link {
	cursor: pointer;
}
/* ===== index ======*/
.wrap_header {
	margin-top: 25px;
	margin-bottom: 15px;
}
.wrap_logo{
	width: 250px;
}
.img_logo{
	width: 100%;
	max-width: 300px;
}

.wrap_sorting_array {
    /*display: flex;*/
 	/*align-self: flex-end;*/
}
.label_sort {
	letter-spacing: 2px;
	display: block;
	font-size: 20px;
	margin-top: 40px;
}
.sorting_array {
	border: 0;
	width: 100%;
	margin: 0px auto 20px;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #ddd;
}




.handle_col_5 {
	padding-left: 5px;
	padding-right: 5px;
}
.wrap_card {
	height: 360px;
    transition: all .3s;
    border: 1px solid #ddd;
    background: #fff;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    margin-bottom: 10px;
}

.wrap_card_img {
	height: 188px;
	overflow-y: hidden;
	position: relative;
}

.img_product{
	height: 168px;
	margin: 10px auto;
	display: block;
}

.sold_product{
	background: #555;
	color: #fff;
	font-size: 1.25em;
	padding: 5px 25px;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.opacity_sold {
	opacity: .5;
}

.product_title {
    position: relative;
    color: #333;
    font-weight: 500;
    /*text-decoration: none;*/
    line-height: 20px;
    text-align: center;
    width: calc(100% - 24px);
    height: 40px;
    margin: 10px auto;
    overflow: hidden !important;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.retail_price {
	width: 100%;
	height: 28px;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
	margin: 15px auto;
}

.wrap_sale_price {
	margin: 10px auto;
	width: 125px;
    padding: 0;
    background: #f50000;
    color: #fff;
    line-height: 1.4;
    text-align: center;
    position: relative;
}
.wrap_sale_price::after {
	content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 100%;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;

	border-left: 10px solid #f50000;
}

.dollarSign_sale_price {
	display: inline-block;
    font-size: 1em;
    line-height: 2;
    font-weight: 700;
    margin: auto 3px;
    vertical-align: text-top;
}

.dollar_sale_price {
	display: inline-block;
    font-size: 1.8em;
    line-height: 40px;
    font-weight: 700;
    vertical-align: text-top;
}